.als-doc-content {
    line-height: 1.5em !important;
}

.td-content {
    text-align: justify;
}

.td-content p {
    padding: 0.2rem;
    margin: 0.2rem;
}

#td-section-nav {

    font-size: 0.85em;
}

#TableOfContents {

    font-size: 0.9em;
}

.td-content code, .td-content pre {
    background-color: var(--dimmed) !important;
    overflow-x: auto;
    white-space: nowrap;
    word-break: normal;
    overflow-wrap: normal;
    hyphens: none;
}


.td-content li {
    margin-top: 0.5rem;
}

div.lead {
    display: none;
}

div.doc-navigation-buttons {

    border-top: 1px solid var(--dimmed);
    padding-top: 1rem;
}

figure {
    padding-top: 0.75rem;
}

figure img {
    height: auto;
    max-width: 100%;
}

figure figcaption {
    font-style: italic;
    font-size: 0.85em;
    padding: 0;
    margin: 0;
    /*color: var(--dimmed);*/
    text-shadow: 0 4px 4px rgba(0, 0, 0, .5);
}