body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.button, #downloadButton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover, #downloadButton:hover {
    background-color: #45a049;
}


/* Ensure the main content has padding to prevent overlap */
.content-wrapper {
  overflow: auto;  /* Ensure proper layout */
  padding-top: 80px;  /* Adjust this value as necessary */
}

