body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b; /* Dark background */
    color: #d3d3d3; /* Light grey text */
}

header.homepage-section {
    background-color: #1b1b1b !important; /* Match background color */
    color: white !important;
    padding: 15px !important;
    text-align: center !important;
}

section.homepage-section {
    padding: 15px !important; /* Reduced padding */
    margin: 15px !important; /* Reduced margin */
    background-color: #1b1b1b !important; /* Match background color */
    border-radius: 8px !important;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5) !important; /* Enhanced shadow for better stand out */
}

.screenshot {
    display: block;
    margin: 0 auto;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5); /* Shadow for screenshot */
    border: none;
    max-height: 33vh; /* Maximum height of one-third of the viewport height */
    width: auto;
}

.catchphrase {
    text-align: center;
    font-size: 2em; /* Increased size to match heading */
    margin-bottom: 20px;
}

.download-buttons {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 10px !important;
    justify-content: center !important;
}

.button {
    display: inline-block !important;
    padding: 10px 20px !important;
    margin-top: 10px !important;
    background-color: #8b0000 !important; /* Dark red */
    color: white !important;
    text-decoration: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
}

.button:hover {
    background-color: #a30000 !important; /* Slightly lighter red on hover */
}

a {
    color: #d3d3d3 !important; /* Light grey text for links */
}

a:hover {
    color: #ffffff !important; /* White text on hover */
}

/* Ensure the main content has padding to prevent overlap */
.content-wrapper {
  overflow: auto;  /* Ensure proper layout */
  padding-top: 80px;  /* Adjust this value as necessary */
}
