body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b; /* Dark background */
    color: #d3d3d3; /* Light grey text */
}

.main-header {
    background-color: #8b0000; /* Dark red */
    color: white;
    padding: 15px; /* Reduced padding */
    text-align: center;
}

.homepage-section {
    padding: 15px; /* Reduced padding */
    margin: 15px; /* Reduced margin */
    background-color: #333333; /* Dark grey background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.download-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #8b0000; /* Dark red */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #a30000; /* Slightly lighter red on hover */
}

a {
    color: #d3d3d3; /* Light grey text for links */
}

a:hover {
    color: #ffffff; /* White text on hover */
}
