$primary: darkred;
$font-size-base: 1.2rem;
$info: #61b1ff;
$navbar-dark-color: #c6c6c6;
$td-box-colors: red;
$font-family-base: poppins;


//### Variables de couleur
//- `$primary` : Couleur primaire
//- `$secondary` : Couleur secondaire
//- `$success` : Couleur de succès
//- `$info` : Couleur d'information
//- `$warning` : Couleur d'avertissement
//- `$danger` : Couleur d'erreur
//- `$light` : Couleur claire
//- `$dark` : Couleur foncée
//- `$code-color` : Couleur du code
//- `$custom-colors` : Couleurs personnalisées
//
//### Variables de police
//- `$google_font_name` : Nom de la police Google
//- `$google_font_family` : Famille de la police Google
//- `$font-family-sans-serif` : Famille de la police sans-serif
//- `$font-family-monospace` : Famille de la police monospace
//- `$font-family-base` : Famille de la police de base
//
//### Variables de style
//- `$enable-gradients` : Activer les dégradés
//- `$enable-shadows` : Activer les ombres
//- `$td-box-colors` : Couleurs des boîtes
//- `$link-color` : Couleur des liens
//- `$link-shade-percentage` : Pourcentage d'ombre des liens
//- `$td-block-space-top-base` : Espacement supérieur des blocs
//- `$td-block-space-bottom-base` : Espacement inférieur des blocs
//- `$pagination-color` : Couleur de la pagination
//- `$pagination-disabled-color` : Couleur de la pagination désactivée
//
//### Variables de taille
//- `$h3-font-size` : Taille de la police H3
//- `$h4-font-size` : Taille de la police H4
//- `$h5-font-size` : Taille de la police H5
//
//### Variables supplémentaires
//- `$td-enable-google-fonts` : Activer les polices Google
//- `$web-font-path` : Chemin des polices web
//- `$font-awesome-font-name` : Nom de la police Font Awesome

//// Override Bootstrap/Docsy variables
//$secondary: #666; // Custom secondary color
//
//Colors
//- $primary
//- $secondary
//- $success
//- $info
//- $warning
//- $danger
//- $light
//- $dark
//- $body-bg
//- $body-color
//
//Typography
//- $font-family-base
//- $font-size-base
//- $font-weight-base
//- $line-height-base
//- $headings-font-family
//- $headings-font-weight
//- $headings-line-height
//- $headings-color
//
//Spacing
//- $spacer
//- $spacers
//- $grid-gutter-width
//
//Components
//- $btn-padding-y
//- $btn-padding-x
//- $btn-font-weight
//- $btn-border-radius
//- $btn-primary-bg
//- $btn-primary-border
//- $input-padding-y
//- $input-padding-x
//- $input-border-radius
//
//Navbar
//- $navbar-padding-y
//- $navbar-padding-x
//- $navbar-brand-padding-y
//- $navbar-nav-link-padding-x
//- $navbar-dark-color
//- $navbar-dark-hover-color
//- $navbar-dark-active-color
//- $navbar-light-color
//- $navbar-light-hover-color
//- $navbar-light-active-color
//
//Card
//- $card-spacer-y
//- $card-spacer-x
//- $card-title-spacer-y
//- $card-border-radius
//- $card-border-width
//- $card-border-color
//- $card-bg
//- $card-img-overlay-padding
//
//Alerts
//- $alert-padding-y
//- $alert-padding-x
//- $alert-margin-bottom
//- $alert-border-radius
//- $alert-link-font-weight
//- $alert-border-width
//- $alert-primary-bg
//- $alert-primary-border
//- $alert-primary-color

