/* SPDX-FileCopyrightText: 2019-2026 The ALS Authors */
/* SPDX-License-Identifier: GPL-3.0-or-later */

* {
    background-color: #222222;
    color: #b6b6b6;
}

QGroupBox {
    background-color: rgba(34, 34, 34, 255);
    border: 1px solid #333333;
    border-radius: 2px;
    padding-top: 1em;
}

QPushButton {

    margin: 0;
}

QGroupBox::title {
    subcontrol-origin: border;
    subcontrol-position: top left;
    background-color: transparent;
    margin: 2px 2px;
}

QSlider:horizontal {
    min-height: 12px;
    max-height: 12px;
}

QGroupBox#grp_auto_stretch QLabel,
QGroupBox#grp_levels QLabel,
QGroupBox#rgbProcessBox QLabel,
QLabel#lbl_align_threshold {
    min-height: 15px;
    max-height: 15px;
}

QGroupBox#grp_auto_stretch QSlider:horizontal,
QGroupBox#grp_levels QSlider:horizontal,
QGroupBox#rgbProcessBox QSlider:horizontal {
    margin-top: 3px;
}

QComboBox {
    background-color: #333333;
    border: 1px solid rgba(255, 255, 255, 45);
    border-radius: 4px;
    padding: 2px 6px;
}

QComboBox:disabled {
    background-color: rgba( 34, 34, 34, 255);
}

QComboBox:focus {
    border-color: rgba(255, 255, 255, 45);
}

QComboBox::drop-down {
    border: 0;
    width: 18px;
}

QComboBox::down-arrow {
    image: url(:icons/dropdown_arrow.svg);
    width: 8px;
    height: 5px;
}

QComboBox:enabled:hover {
    border: 2px solid #666666;
}

QSlider::groove:horizontal,
QSlider::groove:vertical,
QSlider::handle:horizontal,
QSlider::handle:vertical {
    border-color: rgba(255, 255, 255, 45);
}


QCheckBox::indicator {
    margin-right: 4px;
}

QRadioButton {
    spacing: 5px;
}

QRadioButton {
    margin: 2px 0;
}

QRadioButton#rd_photo_profile {
    margin-top: 5px;
}
