<footer>
    <ul>
      {{ if eq .Site.Language.Lang "fr" }}
        <li>
          <a href="https://discord.com/channels/489463570552324097/1026765528108376074" target="_blank">
            <i class="fab fa-discord"></i> {{ i18n "discordASTROfr" }}
          </a>
        </li>
      {{ end }}
      <li>
        <a href="https://github.com/deufrai/als/issues" target="_blank">
          <i class="fab fa-github"></i> {{ i18n "githubIdeaProblem" }}
        </a>
      </li>
      <li>
        <a href="mailto:contact@als-app.org">
          <i class="fas fa-envelope"></i> {{ i18n "contact" }}
        </a>
      </li>
      <li>
        <a href="mailto:support@als-app.org">
          <i class="fas fa-envelope"></i> {{ i18n "support" }}
        </a>
      </li>
    </ul>

    <div class="footer-license">
      <p>&copy; {{ i18n "year" }} {{ i18n "siteName" }}. {{ i18n "allRightsReserved" }}
        <a href="{{ if eq .Site.Language.Lang "fr" }}https://www.gnu.org/licenses/gpl-3.0.fr.html{{ else }}https://www.gnu.org/licenses/gpl-3.0.html{{ end }}" target="_blank">{{ i18n "licenseText" }}</a>
      </p>
    </div>
</footer>

  <!-- Cookie Consent -->
  <div class="cookieconsent">
    <div class="cookieconsent__message">
      {{ i18n "cookieconsentMessage" }}
      <a href="{{ i18n "cookieconsentPrivacyPolicyUrl" }}">{{ i18n "cookieconsentPrivacyPolicy" }}</a>
    </div>
    <div class="cookieconsent__actions">
      <button class="button button--small button--cookieconsent button--decline" type="button" data-consent="false">{{ i18n "cookieconsentDecline" }}</button>
      <button class="button button--small button--cookieconsent button--accept" type="button" data-consent="true">{{ i18n "cookieconsentAccept" }}</button>
    </div>
  </div>


